*{
    margin: 0;
    padding: 0;
    width: 100%;
}
/* body */
/* nav */
nav{
    border: 1px solid #03163e;
    height: 60px;
    display: flex;
    line-height: 60px;
    background-color: #03163e;
    color: #d2aa0b;
}
#logo{
    margin-left: 60px;
    font-size: xx-large;
}
nav ul{
    list-style: none;
    display: flex;
    font-size: larger;
}
nav ul li a{
    text-decoration: none;
    color: #d2aa0b;
}
nav ul li a:hover{
    text-decoration: underline;
    color: #d2aa0b;
}
/* nav end */

/* container one */
.containerone{
    border: 1px solid #03163e;
    height: 820px;
    background-image: url(images/home-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contentone{
    display: flex;
    margin-top: 10%;
    height: 280px;
}
.intro{
    line-height: 80px;
    font-size: 24px;
    color: #d2aa0b;
    width: 40%;
    padding-top: 5%;
}
.quote{
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 40px;
    width: 40%;
    margin-left: 5%;
}
.quote p{
    padding-top: 30px;
    line-height: 80px;
}
#author{
    margin-left: 70%;
}
.intro{
    margin-left: 5%;
}
#hireme{
    color: #03163e;
    width: 10%;
    height: 40px;
    background-color: #d2aa0b;
    border: 1px solid #d2aa0b;
    border-radius: 30px;
    position: relative;
    top: 100px;
    left: 5%;
}
#hireme a{
    text-decoration: none;
    color: #03163e;
    font-size: 30px;
}
/* container one end */

/* container two start */
.containertwo{
    border: 1px solid #03163e;
    height: 800px;
    background-color: #03163e;
    padding-top: 1%;
    color: #d2aa0b;
}
#know{
    text-align: center;
}
#me{
    text-align: center;
    color: #d2aa0b;
}
.contenttwo{
    border: 1px solid #03163e;
    display: flex;
    height: 500px;
    justify-content: space-evenly;
    margin-top: 3%;
}
.aboutcard{
    border: 2px solid green;
    width: 20%;
    color: #d2aa0b;
    background-color: #fff;
}
#profile{
    width: 200px;
    border-radius: 100px;
    margin-left: 18%;
}
#line{
    margin-top: 10%;
}
.aboutcard h3{
    margin-top: 10%;
    padding-left: 25%;
}
.aboutcard p{
    margin-top: 2%;
    font-size: 20px;
    padding-left: 7%;

}
/* container two end */

/* container three start */
.containerthree{
    border: 1px solid #fff;
    height: 600px;
    text-align: center;
    padding-top: 1%;
    font-size: larger;
}
.containerthree h1{
    color: #d2aa0b;
}
.contentthree{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    border: none;
}
.projectcards{
    border: 1px solid blue;
    height: 280px;
    box-shadow: 8px 8px rgba(0, 0, 0, 0.3);
    width: 280px;
    background-color: #03163e;
    color: #d2aa0b;
}
#explore{
    color: #03163e;
    background-color: #d2aa0b;
    width: 40%;
    font-size: 20px;
    border: 1px solid #d2aa0b;
    border-radius: 30px;
    height: 30px;
    margin-top: 5%;
}
#explore a{
    text-decoration: none;
}
#explore a:hover{
    color: #fff;
}
/* container three end */
/* container four start */
.containerfour{
    border: 1px solid #03163e;
    height: 300px;
    text-align: center;
    background-color: #03163e;
    color: #d2aa0b;
    line-height: 40px;
}
.contentfour{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3%;
}
.testcard{
    border: 1px solid green;
    width: 20%;
    background-color: #fff;
    font-size: larger;
    display: flex;
}
/* container four end */
/* container five start */
.containerfive{
    border: 2px solid green;
    height: 600px;
}
.containerfive h1{
    text-align: center;
    color: #d2aa0b;
    margin-top: 2%;
}
#reach{
    text-align: center;
    color: #d2aa0b;
    line-height: 30px;
}
form{
    width: 50%;
    border: 1px solid #03163e;
    height: 60%;
    position: relative;
    left: 25%;
    background-color: #03163e;
    color: #d2aa0b;
    top: 1%;
    font-size: 17px;
}
input{
    width: 99%;
}
#enter{
    padding-bottom: 15%;
}
#message{
    width: 20%;
    height: 40px;
    background-color: #d2aa0b;
    border: 1px solid #d2aa0b;
    color: #03163e;
    border-radius: 30px;
    margin-top: 1%;
    margin-left: 45%;
}
#message a{
    text-decoration: none;
    color: #03163e;
    font-size: 18px;
}
#tosocial{
    color: #d2aa0b;
    position: relative;
    font-size: 20px;
    top: 17%;
    left: 40%;
}
/* containerfive end */
/* foooter */
footer{
    border: 1px solid #03163e;
    height: 50px;
    background-color: #03163e;
    line-height: 50px;
    display: flex;
    color: #d2aa0b;
}
.socialicons ul{
    list-style: none;
    margin-left: 70%;
}
.socialicons ul a{
    text-decoration: none;
    color: #d2aa0b;
    padding-left: 20px;
}
#footerinfo{
    margin-left: 10%;
}
#outro{
    margin-left: 35%;
}