*{
    margin: 0;
    padding: 0;
    width: 100%;
}
/* body */
/* nav */
nav{
    border: 1px solid #03163e;
    height: 60px;
    display: flex;
    line-height: 60px;
    background-color: #03163e;
    color: #d2aa0b;
}
#logo{
    margin-left: 60px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: #d2aa0b;
}
/* nav end */

/* container one */
.containerone{
    border: 1px solid #03163e;
    height: 600px;
    background-image: url(images/home-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contentone{
    display: flex;
    margin-top: 6%;
    height: 280px;
}
.intro{
    line-height: 50px;
    font-size: 24px;
    color: #d2aa0b;
}
.quote{
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 40px;
}
#hireme{
    color: #03163e;
    width: 10%;
    height: 40px;
    background-color: #d2aa0b;
    border: 1px solid #d2aa0b;
    border-radius: 30px;
    position: relative;
    top: 80px;
    left: 45%;
}
#hireme a{
    text-decoration: none;
}
/* container one end */

/* container two start */
.containertwo{
    border: 1px solid #03163e;
    height: 600px;
    background-color: #03163e;
    padding-top: 1%;
}
#me{
    text-align: center;
    color: #d2aa0b;
}
.contenttwo{
    border: 1px solid #03163e;
    display: flex;
    height: 500px;
    justify-content: space-evenly;
}
.aboutcard{
    border: 2px solid green;
    width: 20%;
    color: #d2aa0b;
    background-color: #fff;
}
#profile{
    width: 200px;
    border-radius: 100px;
    margin-left: 18%;
}
.aboutcard h3{
    margin-top: 10%;
    padding-left: 25%;
}
.aboutcard p{
    margin-top: 2%;
    padding-left: 15%;

}
/* container two end */

/* container three start */
.containerthree{
    border: 1px solid #fff;
    height: 300px;
    text-align: center;
    padding-top: 1%;
}
.containerthree h1{
    color: #d2aa0b;
}
.contentthree{
    display: flex;
    justify-content: space-evenly;
}
.projectcards{
    border: 1px solid blue;
    height: 200px;
    width: 25%;
    background-color: #03163e;
    color: #d2aa0b;
    margin-top: 1%;
}
/* container three end */
/* container four start */
.containerfour{
    border: 2px solid red;
    height: 300px;
    text-align: center;
}
.contentfour{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.testcard{
    border: 1px solid green;
    width: 20%;
}
/* container four end */
