*{
    margin: 0;
    padding: 0;
    width: 100%;
}
/* body */
/* nav */
nav{
    border: 1px solid #03163e;
    height: 60px;
    display: flex;
    line-height: 60px;
    background-color: #03163e;
    color: #d2aa0b;
}
#logo{
    margin-left: 60px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    text-decoration: none;
    color: #d2aa0b;
}
/* nav end */

/* container one */
.containerone{
    border: 1px solid #03163e;
    height: 600px;
    background-image: url(images/home-background-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contentone{
    display: flex;
    margin-top: 6%;
    height: 280px;
}
.intro{
    line-height: 50px;
    font-size: 24px;
    color: #d2aa0b;
}
.quote{
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 40px;
}
#hireme{
    color: #03163e;
    width: 10%;
    height: 40px;
    background-color: #d2aa0b;
    border: 1px solid #d2aa0b;
    border-radius: 30px;
    position: relative;
    top: 80px;
    left: 45%;
}
#hireme a{
    text-decoration: none;
}